name: Build and Deploy Backend

on:
  push:
    branches:
      - main
      - feature/actions
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (development or production)"
        required: true
        type: choice
        options:
          - development

jobs:
  build-and-push-Docker-Images:
    runs-on: ubuntu-24.04
    steps:
    - name: Set up Node.js 22
      uses: actions/setup-node@v4
      with:
          node-version: 22

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Zip build folder excluding Git files
      run: |
        zip -r build.zip . -x "*.git*" -x ".github/*"
    
    - name: Clean Server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            sudo rm -rf /home/ubuntu/backend/*

    - name: Push build to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }} 
        source: "build.zip"
        target: "/home/ubuntu/backend/"

    - name: Extract on Server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            sudo unzip -o /home/ubuntu/backend/build.zip -d /home/ubuntu/backend/unwind 
    
    - name: Stop service
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            pm2 stop unwind-backend

    - name: Deploy Service
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            echo "Cleaning target directory..."
            sudo rm -rf /var/www/unwind/backend/unwind/*
            sudo rm -rf /var/www/unwind/backend/unwind/.[!.]*
            echo "Copying new build..."
            sudo cp -r /home/ubuntu/backend/unwind/* /var/www/unwind/backend/unwind/
    
    - name: Deploy Environment
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            sudo cp /var/www/unwind/env/backend/.env /var/www/unwind/backend/unwind//.env

    - name: Start service
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.UNWIND_DEV_IP }}
        username: ubuntu
        key: ${{ secrets.UNWIND_DEV_DEPLOY }}
        script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            pm2 start unwind-backend
